@media screen and (max-width: 765px){
    #cantidadR{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 765px){
    #stockR{
        margin-left: 3rem;
        margin-top: 1rem;
    }
}