#landing-container {
	background: rgb(144,221,240);
	background: linear-gradient(180deg, rgba(144,221,240,1) 23%, rgba(7,57,60,1) 84%);
	background-size: cover;
	background-attachment: fixed;
}

#text-container {
	width: 100%;
	height: auto;
    margin-bottom: 2rem;
}

#information-container {
    width: 100%;
}

.card-img-top {
    overflow: hidden;
    width: auto;
    height: 500px;
}
