#filtersPS{
    margin-left: 70rem;
}

.pagesS{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background: #2c666e;
}

#selectS{
    border: none;
    margin-top: 3px;
}

.pagesS1{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background: #2c666e;
}