*{
    margin:0;
    padding:0
}

.team-section{
    overflow: hidden;
    text-align: center;
    background: #2c666e;
    background-size: cover;
    min-height: 80vh;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
    margin-top: 2rem;
}

.aboutUsBorder{
    display: block;
    margin: auto;
    width: 160px;
    height: 5px;
    background: hsl(192, 76%, 75%);
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.ps{
    margin-bottom: 4rem;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.sectionAbout{
    width: 70rem;
    margin: auto;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 3rem;
}

.nameA{
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

.marginAbout{
    height: 100%;
}

/* .ourTeam{
    margin-bottom: 1rem;
} */