@import "../App/style.scss";
#buttonSearch {
    color: $light;
    border: 1px solid $light;
    border-radius: 5px;
    // height: 38px;
    // width: 160px;
    &:hover {
        color: $primary;
        background-color: $light;
        border: 1px solid $primary;
    }
}

#searchBarForm {
    margin-right: 2rem;
    position: absolute;
    z-index: 1;
    right: 0px;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
    position: absolute;
    z-index: 2;
    top: 48px;
    background-color: rgba(255, 255, 255, 0.6);
    li {
        padding: 0.5rem;
        &:hover {
            background-color: #2c666e;
            color: #fcfcfc;
            cursor: pointer;
            font-weight: 700;
        }
    }

    .suggestion-active {
        background-color: #2c666e;
        color: #fcfcfc;
        cursor: pointer;
        font-weight: 700;
    }
}

.no-suggestions {
    color: rgb(8, 7, 7);
    padding: 0.5rem;
    position: absolute;
    z-index: 2;
    top: 48px;
    background-color: rgb(252, 252, 252, 0.6);
    border-radius: 5px;
}

.SBerror {
    color: rgb(8, 7, 7);
    padding: 0.5rem;
    position: absolute;
    z-index: 2;
    top: 94px;
    background-color: rgba(253, 52, 52, 0.6);
    border-radius: 5px;
}

#inputS{
    // margin-right: 1rem;
    margin-right: 5px;
    width: 19.7rem;
}