#firstDiv {
    width: 16rem;
    margin-right: 0.5rem; 
    margin-left: 0.5rem; 
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#firstDiv:hover {
    transform: translateY(-2px) ;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px){
    #firstDiv {
        width: 80%;
    }
}

#image{
    width:150px;
    height:150px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
}

#colorB {
    background-color: #2c666e;
    border: none;
}

#colorB:hover{
    background-color: #07393c;
}

#imageSize{
    height:150px;
}