@import "../../../App/style.scss";
#filtersPS {
  margin-left: 70rem;
}

.pagesS {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #2c666e;
}

.pagesS:hover {
  box-shadow: -3px 3px #123b24;
}

#selectS {
  border: none;
  margin-top: 3px;
}

.sellerBar{
  margin-top: -6rem;
}
