#colorButton {
    color: #2c666e;
    border: 1px solid #2c666e;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#colorButton:hover{
    background-color: #2c666e;
    color: #fff;
    border: 1px solid #fff;
}